<a name="formAnswer"></a>
{% if formComplete %}
    {{ form.thankYouText|raw }}
{% else %}
    {% form_theme formView 'bootstrap_5_layout.html.twig' %}
    {{ form.infoText|raw }}
    {{ form_start(formView, {'attr': {'class': 'content_form form-horizontal', 'novalidate': 'novalidate' }}) }}
    <fieldset>
        {{ form(formView) }}
        <div class="button_div">
            <input type="submit" name="submit" id="submit" value="Weiter" class="btn btn-primary">
        </div>
    </fieldset>
    {{ form_end(formView) }}
{% endif %}