{% extends base_template %}
{% block actions %}

{% endblock %}
{% block show %}
    <div class="sonata-ba-view">

        {% block formactionstop %}
            <div class="well form-actions">
                {% include 'NetworkingFormGeneratorBundle:Button:export_button.html.twig' %}
                {% include 'NetworkingFormGeneratorBundle:Button:edit_button.html.twig' %}
                {% include 'NetworkingFormGeneratorBundle:Button:delete_button.html.twig' %}
                {% include 'NetworkingFormGeneratorBundle:Button:list_button.html.twig' %}


            </div>
        {% endblock formactionstop %}


        {% for formData in object.formData %}
            <p>Form Submitted at {{ formData.createdAt|date('d.M.Y H:i') }}</p>
            <table class="table table-hover table-compact">
                <thead>
                <tr class="sonata-ba-list-field-header ">
                    <th>Field</th>
                    <th>Value</th>
                    <th>
                        <a  href="{{ admin.generateUrl('deleteFormEntry', {'id': object.id, 'rowid': formData.id}) }}" onClick="temp=window.confirm('{{ 'confirm_deletion'|trans({}, 'formGenerator') }}');return temp;" >
                            <i class="glyphicon glyphicon-remove"></i>
                            {{ 'link_action_delete'|trans({}, 'formGenerator') }}</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for fieldData in formData.formFields %}
                    <tr class="sonata-ba-view-container">
                        <td>{{ fieldData.label }}</td>
                        <td colspan="2">
                            {% if fieldData.value is iterable %}
                                {{ fieldData.value|join(', ') }}
                            {% else %}
                                {{ fieldData.value}}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>



            <hr/>
        {% endfor %}

        {% block formactions %}
            <div class="well form-actions">
                {% include 'NetworkingFormGeneratorBundle:Button:export_button.html.twig' %}
                {% include 'NetworkingFormGeneratorBundle:Button:edit_button.html.twig' %}
                {% include 'NetworkingFormGeneratorBundle:Button:list_button.html.twig' %}
            </div>
        {% endblock formactions %}
    </div>
{% endblock %}